.page-template-template-about-us{
  .breadcrumbs{
    background-color: var(--color-gray);
  }
}

/*--- owner ---*/

.owner{
  background-color: var(--color-white-bg);

  .image-wrapper{
    @media(max-width: 767px){
      order: 2;
    }

    .inner{
      border-radius: 20px;
      overflow: hidden;
      height: 100%;
    }
  }

  .text-content{
    @media(max-width: 767px){
      order: 1;
      margin-bottom: 24px;
    }
  }

  .block-title{
    margin-bottom: 8px;
  }

  .subtile{
    color: var(--color-dark-gray);
    margin-bottom: 16px;
  }

  .fact-list{
    margin: 0;
    padding: 0;
    display: grid;
    gap: 10px;

    .item{
      list-style: none;
      display: flex;
      align-items: center;

      svg{
        width: 16px;
        height: auto;
        margin-right: 8px;
      }

      span{
        flex: 1;
      }
    }
  }
}

/*--- our-values ---*/

.our-values{
  background-color: var(--color-gray);

  .block-title{
    margin-bottom: 24px;
  }

  .values-list-wrapper{
    display: flex;
    gap: 24px;

    @media(max-width: 992px){
      flex-wrap: wrap;
    }
  }

  .image-wrapper{
    width: calc(25% - 12px);
    border-radius: 12px;
    overflow: hidden;

    @media(max-width: 992px){
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
    }

    img{
      @media(max-width: 992px){
        position: absolute;
        inset: 0;
      }
    }
  }

  .part{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;

    .item{
      list-style: none;
      padding: 24px;
      border-radius: 12px;
      background-color: var(--color-white-bg);

      @media(max-width: 1200px){
        padding: 16px;
      }

      .name{
        margin-bottom: 24px;

        @media(max-width: 1200px){
          margin-bottom: 16px;
        }
      }

      .description{
        padding-top: 24px;
        position: relative;
        margin-bottom: 0;

        @media(max-width: 1200px){
          padding-top: 16px;
        }

        &:before{
          content: '';
          position: absolute;
          height: 1px;
          top: 0;
          left: 0;
          width: 120px;
          background: var(--color-black);
          opacity: 0.1;
        }
      }
    }

    &.first-part{
      width: calc(50% - 12px);

      @media(max-width: 992px){
        width: 100%;
      }

      .item{
        width: calc(50% - 12px);

        @media(max-width: 440px){
          width: 100%;
        }
      }
    }

    &.second-part{
      width: calc(25% - 12px);

      @media(max-width: 992px){
        width: 100%;
      }

      .item{
        width: 100%;

        @media(max-width: 992px){
          width: calc(50% - 12px);
        }

        @media(max-width: 440px){
          width: 100%;
        }
      }
    }
  }
}