.news-single-main-screen{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 142px;
  padding-bottom: 142px;

  @media(max-width: 767px){
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media(max-width: 440px){
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main-title{
    margin-bottom: 16px;
  }

  .slogan{
    margin-bottom: 0;
  }
}

/*--- news-post-content ---*/
.news-post-content{
  background-color: var(--color-white-bg);

  ul,
  ol{
    margin-left: 0;
    display: grid;
    gap: 8px;
  }

  blockquote{
    border-radius: 12px;
    padding: 16px;
    background-color: var(--color-gray);

    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}