.site-footer{
  background-color: var(--color-white-bg);

  .block-title{
    margin-bottom: 40px;

    @media(max-width: 767px){
      margin-bottom: 30px;
    }
  }

  .map-wrapper{
    @media(max-width: 767px){
      margin-bottom: 24px;
    }

    .inner{
      position: relative;
      height: 100%;
      overflow: hidden;
      border-radius: 12px;

      @media(max-width: 767px){
        padding-bottom: 80%;
      }

      iframe{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .form-wrapper{
    .inner{
      padding: 40px;
      border-radius: 12px;
      background-color: #F3F3F5;
      color: var(--color-black);

      @media(max-width: 992px){
        padding: 30px;
      }

      @media(max-width: 440px){
        padding: 30px 24px;
      }
    }

    .form-title{
      margin-bottom: 24px;
    }

    .button{
      margin-top: 12px;
    }
  }

  .content{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .contacts-item{
      width: calc(25% - (72px / 4));

      @media(max-width: 992px){
        width: calc(50% - 12px);
      }

      @media(max-width: 440px){
        width: 100%;
      }

      .title{
        margin-bottom: 16px;
      }

      .contact-item{
        display: block;
        margin-bottom: 8px;
        color: var(--color-black) !important;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .copy-dev-wrapper{
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 575px){
      justify-content: center;
      gap: 12px;
    }

    &:before{
      content: '';
      position: absolute;
      inset: 0 12px;
      height: 1px;
      background: var(--color-black);
    }

    p{
      margin-bottom: 0;
      font-size: 16px;
      color: var(--color-black);

      @media(max-width: 575px){
        width: 100%;
        text-align: center;
      }

      a{
        color: var(--color-black)!important;
      }
    }
  }

  &.contacts-footer{
    .block-title{
      margin-bottom: 24px;
    }

    .image-wrapper{
      @media(max-width: 767px){
        margin-bottom: 24px;
      }

      .inner{
        overflow: hidden;
        border-radius: 20px;
        height: 100%;
      }
    }

    .map-wrapper{
      margin-top: 40px;

      @media(max-width: 440px){
        margin-top: 24px;
      }
      .inner{
        height: 433px;

        @media(max-width: 767px){
          height: 380px;
        }
      }
    }
  }

  &.footer-404{
    border-radius: 12px 12px 0 0;
    margin-top: -12px;
    position: relative;
    z-index: 3;

    .content{
      padding-top: 0;
    }
  }
}