.error-404{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 109px;
  padding-bottom: 109px;
  color: var(--color-white);
  min-height: 70vh;
  display: flex;
  align-items: center;

  &:before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: var(--color-black);
    opacity: 0.4;
  }

  .container{
    position: relative;
    z-index: 2;
  }

  .main-title{
    margin-bottom: 16px;
  }

  .text{
    margin-bottom: 24px;
  }
}