.modal{
  background: rgba(15, 15, 15, 0.20);
  backdrop-filter: blur(10px);

  .modal-dialog{
    width: 644px;
    max-width: 644px;

    @media(max-width: 767px){
      width: 540px;
    }

    @media(max-width: 575px){
      width: calc(100% - 32px);
    }
  }

  .modal-content{
    border-radius: 12px !important;
    background-color: #F3F3F5;
    padding: 40px;
    position: relative;
    overflow: hidden;

    @media(max-width: 440px){
      padding: 30px 24px;
    }
  }

  .btn-close{
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 1;
    width: 24px;
    top: 40px;
    right: 40px;
    border: none !important;
    background-color: rgba(0,0,0,0);
    z-index: 5;
    box-shadow: none !important;
    background-image: none;

    @media(max-width: 440px){
      right: 16px;
      top: 16px;
    }

    svg{
      width: 100%;
      height: auto;
    }
  }

  &.form-modal{
    .form-title{
      margin-bottom: 24px;
    }
    .button{
      margin-top: 12px;
    }
  }

  &.thank-modal{
    .icon{
      width: 120px;
      margin: 0 auto 24px;

      svg{
        width: 100%;
        height: auto;
      }
    }

    .card-title{
      margin-bottom: 0;
    }
  }
}