.single-services{
  .breadcrumbs{
    background-color: var(--color-white-bg);
  }
}

/*--- serviсe-single-main-screen ---*/

.serviсe-single-main-screen{
  padding-top: 109px;
  padding-bottom: 109px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);

  .content{
    margin-bottom: 0;
  }

  .category{
    margin-bottom: 16px;
  }

  .main-title{
    margin-bottom: 24px;
  }
}

/*--- service-short-wrapper ---*/

.service-short-wrapper{
  background-color: var(--color-white-bg);

  .text-content{
    p{
      margin-bottom: 16px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

/*--- service-full-info-wrapper ---*/

.service-full-info-wrapper{
  background-color: var(--color-gray);

  .block-title{
    margin-bottom: 24px;
  }

  .service-info-list{
    gap: 24px;

    .item{
      width: calc(50% - 12px);
      background-color: var(--color-white-bg);
      padding: 24px;
      border-radius: 12px;

      @media(max-width: 575px){
        width: 100%;
      }

      .name{
        margin-bottom: 24px;
      }

      .description{
        position: relative;
        padding-top: 24px;

        &:before{
          content: '';
          position: absolute;
          width: 120px;
          height: 1px;
          left: 0;
          top: 0;
          background: var(--color-black);
          opacity: 0.1;
        }

        p{
          margin-bottom: 8px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}