@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"),
  url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTFirsNeue-Regular";
  src: url("../fonts/TTFirsNeue-Regular/TTFirsNeue-Regular.eot");
  src: url("../fonts/TTFirsNeue-Regular/TTFirsNeue-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TTFirsNeue-Regular/TTFirsNeue-Regular.woff") format("woff"),
  url("../fonts/TTFirsNeue-Regular/TTFirsNeue-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTFirsNeue-Medium";
  src: url("../fonts/TTFirsNeue-Medium/TTFirsNeue-Medium.eot");
  src: url("../fonts/TTFirsNeue-Medium/TTFirsNeue-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TTFirsNeue-Medium/TTFirsNeue-Medium.woff") format("woff"),
  url("../fonts/TTFirsNeue-Medium/TTFirsNeue-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTFirsNeue-DemiBold";
  src: url("../fonts/TTFirsNeue-DemiBold/TTFirsNeue-DemiBold.eot");
  src: url("../fonts/TTFirsNeue-DemiBold/TTFirsNeue-DemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TTFirsNeue-DemiBold/TTFirsNeue-DemiBold.woff") format("woff"),
  url("../fonts/TTFirsNeue-DemiBold/TTFirsNeue-DemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


