/*--- IMPORT ---*/

@import "slick";
@import "slick-teame";
@import "variables";
@import "basic";
@import "popup";

/*--- Header ---*/

@import "header";

/*--- Footer ---*/

@import "footer";

/*--- Home Page ---*/

@import "home-page";

/*--- All services ---*/

@import "all-services";

/*--- Contacts ---*/

@import "contacts";

/*--- Breadcrumbs ---*/

@import "breadcrumbs";

/*--- About us ---*/

@import "about-us";

/*--- Blog ---*/

@import "blog";

/*--- Blog single ---*/

@import "blog-single";

/*--- Services single ---*/

@import "services-single";

/*--- Judicature single ---*/

@import "judicature-single";

/*--- Page 404 ---*/

@import "page-404";



